<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <title>

    </title>
</head>

<body>
<h1>sign in</h1>
<!--th:object="${user}"-->
<form th:action="@{/signin}" method="post">
    <div class="form-group">
        <label for="userName">사용자 이름</label>
        <input type="text" id="userName" th:field="*{userName}" class="form-control" placeholder="사용자 이름 입력" required>
    </div>
    <div class="form-group">
        <label for="nickName">닉네임</label>
        <input type="text" id="nickName" th:field="*{nickName}" class="form-control" placeholder="닉네임 입력" required>
    </div>
    <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="비밀번호 입력" required>
    </div>
    <div class="form-group">
        <label for="email">이메일</label>
        <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="이메일 주소 입력" required>
    </div>
    <button type="submit" class="btn btn-primary">회원가입</button>
</form>

</body>
</html>