<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <title>테스트 페이지 </title>

    <!-- inline CSS 영역-->
    <style th:inline="css" type="text/css">    </style>

    <!-- inline JS 영역-->
<!--    <script th:inline="javascript" type="text/javascript">-->
<!--        $(document).ready(() => {-->
<!--            alert("페이지가 시작됩니다.")-->
<!--        });-->
<!--    </script>-->
</head>

<body>
    <div class="col-9">
        <div class="row">

            <div class="container">
                <!-- 나머지 컨텐츠 -->
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary btn-create">작성하기</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 card-container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">제목</h5>
                        <!--                            <button class="btn btn-preview-icon">&#x1F50D;</button> &lt;!&ndash; 루페(돋보기) 아이콘 &ndash;&gt;-->
                        <h6 class="card-subtitle mb-2 text-muted">짧은 소개</h6>
                        <p class="card-text">내용내용내용내용내용내용내용내용내용내용내용내용</p>
                        <!-- 미리보기 아이콘 버튼 -->

                        <span class="icon star">&#9733;</span>
                        <span class="icon heart">&#9825;</span>
                        <div class="card-buttons">
                            <button class="btn btn-detail">자세히 보기</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 card-container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">제목</h5>
                        <h6 class="card-subtitle mb-2 text-muted">짧은 소개</h6>
                        <p class="card-text">내용내용내용내용</p>
                        <span class="icon star">&#9733;</span>
                        <span class="icon heart">&#9825;</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 card-container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">제목</h5>
                        <h6 class="card-subtitle mb-2 text-muted">짧은 소개</h6>
                        <p class="card-text">내용내용내용내용</p>
                        <span class="icon star">&#9733;</span>
                        <span class="icon heart">&#9825;</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>