<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
<head>

    <meta name="_csrf" content="${_csrf.token}"/>
    <title>

    </title>
</head>

<body>

<div class="container">
    <h2>Sign Up</h2>

    <form th:action="@{/sign-up}" th:object="${users}" method="post">
<!--        <input type="hidden" id="user-id" th:value="${users.}" data-id="${prompt.id}">-->
        <input type="hidden" id="csrf" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <div class="form-group">
            <label for="userName">User Name:</label>
            <input type="text" class="form-control" id="user_name" th:field="*{userName}" required>
        </div>X
        <div class="form-group">
            <label for="nickName">Nick Name:</label>
            <input type="text" class="form-control" id="nickName" th:field="*{nickName}" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" required>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>



</body>
</html>