<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <title>테스트 페이지 </title>
    <meta name="_csrf" content="${_csrf.token}"/>
    <!-- inline CSS 영역-->
    <style th:inline="css" type="text/css"></style>

    <!-- inline JS 영역-->
    <!--    <script th:inline="javascript" type="text/javascript">-->
    <!--        $(document).ready(() => {-->
    <!--            alert("페이지가 시작됩니다.")-->
    <!--        });-->
    <!--    </script>-->
</head>

<body>
<div class="col-9">
    <div class="container mt-5">
        <h2>Create New Prompt</h2>
<!--        security 임시 권한 부여-->
        <input type="hidden" id="csrf" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <input type="hidden" id="prompt-id" th:value="${prompt.id}" data-id="${prompt.id}">
<!--        <input type="hidden" id="prompt-author" th:value="${prompt.author}" data-id="${prompt.id}">-->
<!--        <input type="hidden" id="prompt-author" th:value="${prompt.author}" data-id="${prompt.author}">-->
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" name="title" required th:value="${prompt.title}">
        </div>
        <div class="form-group">
            <label for="subTitle">소개</label>
            <input type="text" class="form-control" id="subTitle" name="subTitle" required th:value="${prompt.subTitle}">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" name="content" rows="3" required
                      th:text="${prompt.content}"></textarea>
        </div>
        <button th:if="${prompt.id} != null" type="submit" class="btn btn-primary" id="modify-btn">수정</button>
        <button th:if="${prompt.id} == null" type="submit" class="btn btn-primary" id="create-btn">등록</button>


    </div>
</div>
</body>
</html>