<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <meta name="_csrf" content="${_csrf.token}"/>

    <style>

        body {
            font-family: 'Roboto', sans-serif;
            margin: 40px;
            color: #333;
        }
        .card-body {
            position: relative;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 그림자 효과 추가 */
            transition: 0.3s; /* 부드러운 전환 효과 */
            border-radius: 5px; /* 카드의 모서리를 약간 둥글게 */
        }

        header.mb-4 h1, header.mb-4 h4 {
            margin-bottom: 0.5rem;
        }

        .fw-bolder {
            font-weight: bold;
        }

        .mb-1 {
            margin-bottom: 1rem;
        }

        .mb-4, .mb-5 {
            margin-bottom: 2rem;
        }

        .fs-5 {
            font-size: 1.25rem;
        }

        section.mb-5 p {
            margin-bottom: 1.5rem;
            line-height: 1.6;
            text-align: justify;
        }

        .text-muted {
            color: #6c757d;
        }

        .fst-italic {
            font-style: italic;
        }

        .inline-form {
            display: inline-block; /* Makes the form inline */
            margin-right: 5px; /* Adds space between the buttons */
        }

    </style>
    <title>테스트 페이지 </title>

    <!-- inline CSS 영역-->
    <style th:inline="css" type="text/css"></style>

    <!-- inline JS 영역-->
    <!--    <script th:inline="javascript" type="text/javascript">-->
    <!--        $(document).ready(() => {-->
    <!--            alert("페이지가 시작됩니다.")-->
    <!--        });-->
    <!--    </script>-->
</head>

<body>


<!--    <div class="card">-->
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-md-8">
                    <prompt>
                        <h1 class="fw-bold" th:text="${prompt.title}">제목</h1>
                        <input type="hidden" id="prompt-id" th:value="${prompt.id}" data-id="${prompt.id}">
                        <p class="text-muted">
                            <!--                        <span th:text="${user.nickname}">Nickname</span> |-->
<!--                            <small th:text="${prompt.id}">Nickname</small>-->
                            <small th:text="${user.getNickname()}">Nickname</small>
                            <small th:text="${prompt.modifiedDate}">Updated At</small>
                        </p>
                    </prompt>
                </div>

                <div class="col-md-4 text-md-end">
                    <p class="text-muted">
                        <!--                        <span class="badge bg-secondary" th:text="'Likes: ' + ${prompt.likes}">Likes: 0</span>-->
                        <span class="badge bg-secondary">Likes: 0</span>
                        <!--                        <span class="badge bg-secondary" th:text="'Comments: ' + ${prompt.comments}">Comments: 0</span>-->
                        <span class="badge bg-secondary">Comments: 0</span>
                    </p>
                </div>
            </div>

            <h2 class="fw-bold mb-4" th:text="${prompt.subTitle}">소개</h2>
            <p class="mb-4" th:utext="${prompt.content}">콘텐츠</p>

            <!--            <button th:href="@{/modify/${prompt.id}" class="btn btn-primary btn-create">수정</button>-->
            <a th:href="@{/modify/{id}(id=${prompt.id})}" class="btn btn-primary btn-create">수정</a>
            <button class="btn btn-primary btn-create" id="delete-btn" data-id="${prompt.id}">삭제</button>
            <a th:href="@{/like/{id}(id=${prompt})}" class="btn btn-primary btn-create">Like</a>
            <a th:href="@{/bookmark/{id}(id=${prompt})}" class="btn btn-primary btn-create">Like</a>

<!--             Like Button-->
            <form class="inline-form" th:action="@{/like/{id}(id=${prompt.id})}" method="post">
                <!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}" /> -->
                <button type="submit" class="btn btn-outline-secondary">Like</button>
            </form>


w
            <!-- Bookmark Button -->
            <form class="inline-form" th:action="@{/bookmark/{id}(id=${prompt.id})}" method="post">
                <!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}" /> -->
                <button type="submit" class="btn btn-outline-secondary">Bookmark</button>
            </form>




            <form th:action="@{/comment}" method="post" class="mt-3">
                <div class="input-group">
                    <input type="hidden" name="promptId" th:value="${prompt.id}">
                    <input type="text" class="form-control" name="comment" id="comment"
                           aria-label="Recipient's username with two button addons">
                    <button class="btn btn-outline-secondary" type="submit">등록</button>
                </div>
            </form>
            <!--            <div th:each="comment : ${comments}">-->
            <!--                <div>-->
            <!--                    <strong th:text="${comment.username}">Username</strong>-->
            <!--                    <p th:text="${comment.content}">Comment content</p>-->
            <!--                    <small th:text="${comment.createdAt}">Date</small>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="container mt-4">
                <h2>Comments</h2>
                <div class="list-group">
                    <!-- Comments list start -->
                    <!--                    <input type="hidden" id="csrf" name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                    <th:block th:each="comment : ${comments}">
                        <div class="list-group-item">
                            <form th:action="@{/delete/comment/{id}(id=${comment.id})}" method="post">
                                <input type="hidden" name="_method" value="delete"/>

                                <div class="row">
                                    <div class="col-md-2 text-truncate" th:text="${comment.username}">nickname</div>
                                    <div class="col-md-6 text-truncate" th:text="${comment.content}">content</div>
                                    <div class="col-md-2 text-truncate"
                                         th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}">createdAt
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </th:block>
                    <!-- Comments list end -->
                    <th:block th:if="${comments.empty}">
                        <p class="list-group-item">No comments yet.</p>
                    </th:block>
                </div>


                <!-- Link to Bootstrap CSS -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


            </div>
        </div>
    </div>


    <script>

    </script>

</body>
</html>